
@model Sale_Dance.Models.Post
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td style="width:150px">

    <div class="btn-group" role="group">
        @if (@Model.IsPublished)
        {

            <form method="post" asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id" asp-route-postAction="@PostAction.Unpublish">
                <button type="submit" class="btn btn-secondary m-1"> הסר פרסום</button>
            </form>
            <form method="post" asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id" asp-route-postAction="@PostAction.Bump">
                <button type="submit" class="btn btn-info m-1"> הקפץ פוסט</button>
            </form>

        }
        else
        {
            <form method="post" asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id" asp-route-postAction="@PostAction.Publish">
                <button type="submit" class="btn btn-info m-1">פרסם פוסט</button>
            </form>

        }
        <a class="btn btn-primary m-1" href="@Url.Action("/Edit/"+Model.Id)">עריכה</a>
        <a class="btn btn-danger m-1" href="@Url.Action("/Delete/"+Model.Id)">מחק</a>


    </div>
</td>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">מחק פוסט</h5>
                <button type="button" class="close align-left" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> האם אתה בטוח שאתה רוצה למחוק פוסט זה?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">ביטול</button>
                <form method="post" asp-action="Delete">
                    <input type="submit" asp-route-id="@Model.Id" class="btn btn-danger" value="מחק פוסט" />
                    />

                </form>
            </div>
        </div>
    </div>
</div>