
@model Sale_Dance.Models.Post
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td style="width:150px">

    <div class="btn-group" role="group">
        @if (@Model.IsPublished)
        {

            <a type="button" class="btn btn-secondary m-1" href="@Url.Action("/UnPublish/"+Model.id)">הסר פרסום</a>
            <a type="button" class="btn btn-info m-1" href="@Url.Action("/Bump/"+Model.id)">הקפץ פוסט</a>

        }
        else
        {
            <a type="button" class="btn btn-info m-1" href="@Url.Action("/Publish/"+Model.id)">פרסם פוסט</a>

        }
        <a type="button" class="btn btn-primary m-1" href="@Url.Action("/Edit/"+Model.id)">עריכה</a>
        <a type="button" class="btn btn-success m-1" href="@Url.Action("/Details/"+Model.id)">פרטים</a>
        <a type="button" class="btn btn-danger m-1" href="@Url.Action("/Delete/"+Model.id)">מחק</a>


    </div>
</td>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">מחק פוסט</h5>
                <button type="button" class="close align-left" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> האם אתה בטוח שאתה רוצה למחוק פוסט זה?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">ביטול</button>
                <form method="post" asp-action="Delete">
                    <input type="submit" asp-route-id="@Model.id" class="btn btn-danger" value="מחק פוסט" />
                    />

                </form>
            </div>
        </div>
    </div>
</div>