@using Sale_Dance.Models.ViewModel
@model Sale_Dance.Models.ViewModel.PostViewModel
@{
    ViewData["Title"] = "Edit";
}

<br />

<h2 class="text-info">ערוך פוסט</h2>

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="p-4 border rounded">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">

            <div class="col-2">

                <label> שם</label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="form-group row">

            <div class="col-2">

                <label>תוכן הפוסט</label>
            </div>
            <div class="col-5">
                <textarea asp-for="Body" row="4" class="form-control"></textarea>
            </div>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>


        <br />
        <h4>הוסף מבצעים לפוסט</h4>
        <br />


        <div class="row">
            <label class="m-0 ml-3">בחר מבצע</label>
            <select id="saleSelect" asp-items="@Model.SelectedListItem">
                <option>-</option>
            </select>
        </div>
          

        <br />
        <div class="row">
            <h4 class="ml-3 text-info">מבצעים המשוייכים לפוסט</h4>
            <i class="fas fa-spinner fa-spin" style="display: none;"></i>
        </div>
        <br/>   
        <div class="row">
            <p class="text-success w-100" id="savedSaleListChanges"style="display:none">נשמר בהצלחה</p>
            <div class="row no-gutters list-sales-div" >

                @foreach (var item in Model.ListOfSales)
                {
                    <partial name="Sale/_SaleItemPartial" model="@(new SaleItemPartialViewModel() {Name = item.Name, Id = item.Id})" />
                }
            </div>

            </div>

    </div>

        <br />

        <div class="form-group text-left">

            <input type="submit" class="btn btn-primary" asp-route-id="@Model.Id" value="שמור שינויים" />
            <a asp-action="Index" class="btn btn-success">חזרה לפוסטים</a>

        </div>
</form>

@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
     
    <script>

        $("#saleSelect").change(
            function () {
                $(".fa-spinner").show();
                var data = JSON.stringify({postId: @Model.Id,saleId: $(this).val()});
                $.ajax({
                    url:'@Url.Action("AddSaleToPost","Home")',            
                    data: data,                
                    type: 'POST',   
                    headers: {
                        RequestVerificationToken: 
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    processData: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(".list-sales-div").append(data);
                        $("#savedSaleListChanges").show();
                        $(".fa-spinner").hide();


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(".fa-spinner").hide();

                    }
                });

            });

        $(".saleItemDiv").on('click',
            function () {
                $(".fa-spinner").show();

                var data = JSON.stringify({postId: @Model.Id,saleId: $(this).data("id")});
                $.ajax({
                    url:'@Url.Action("RemoveSaleFromPost", "Home")',            
                    data: data,                
                    type: 'POST',   
                    headers: {
                        RequestVerificationToken: 
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    processData: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(this).parent().remove();
                        $("#savedSaleListChanges").show();
                        $(".fa-spinner").hide();


                    }.bind(this),
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(".fa-spinner").hide();

                    }
                });

            });
    </script>
}