@using Sale_Dance.Utility
@model Sale_Dance.Models.ViewModel.HomeIndexViewModel
@{
    ViewData["Title"] = "בית";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div dir="rtl" class="text-right">


    @if (ViewData["PublishAlert"] != null)
    {
    <div class="alert alert-danger"> @ViewData["PublishAlert"]</div>
    }

    @if (ViewData["PublishSuccess"] != null)
    {
    <div class="alert alert-success"> @ViewData["PublishSuccess"]</div>
    }


    @if (ViewData["UnpublishAlert"] != null)
    {
    <div class="alert alert-success"> @ViewData["UnpublishAlert"]</div>
    }
    
    @if (Model.ShowHelpfulSaleCard)
    {
        <div class="row">
       
            <div class="  mb-4 col-8 alert alert-dismissible text-white  fade show" role="alert" style="background-color: #d71c4d;">
                <h5>איך מוסיפים מבצע לפוסט</h5>
                <p style="margin: 0; font-size: 14px"> לאחר שיצרת פוסט חדש בלחיצה על "פוסט חדש", תוכל להוסיף לו מבצע על ידי עריכתו, בלחיצה על "עריכה" בשורה של הפוסט ברשימה למטה. </p>
                <button id="closeHelpfulSaleCard" class="mt-3 btn " style="background: white; color: #d71c4d;" aria-label="Close">
                    אל תראה חלון זה יותר
                </button>
            </div>
        </div>
    }
    
    <div class="row">

        <div class="col-6">

            <h2 class="text-info ">  פוסטים</h2>
        </div>

        <div class="col-6 text-left">

            <a asp-action="Create" class="btn btn-info "> <i class="fas fa-plus"></i>&nbsp; פוסט חדש</a>
        </div>

    </div>

    <br />

    <table class="table table-striped border">
        <thead class="table-info">
        <tr class="">

            <th scope="col">
                שם
            </th>
            <th scope="col">נערך לאחרונה</th>
            <th scope="col">נוצר</th>
            <th scope="col">מבצעים</th>
        </tr>
        </thead>
        @foreach (var item in Model.Posts)
        {
            <tbody>

            <tr>
                <td >
                    @Html.DisplayFor(m => item.Name)
                </td>
               
                <td>@item.LastEdited?.DateWithTime()</td>
                <td>@item.Created.DateWithTime()</td>
                <td>@item.SalePosts.Count 
                
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">צפה</a>
                </td>
                <td>

                    <partial name="_PostsTableButtonPartial" model="item"/>
                </td>
            </tr>
            </tbody>

        }
    </table>

</div>

@section Scripts
{
    <script>
        $(function() {
            $("#closeHelpfulSaleCard").on('click',
                function() {
                    $.ajax({
                        url:'@Url.Action("DontShowSaleHelpfulAlert","Home")',        
                        type: 'POST',   
                        headers: {
                            RequestVerificationToken: 
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        processData: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            $(this).closest(".alert").alert('close');
                        }.bind(this),
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $(".fa-spinner").hide();

                        }
                    });
                });
        });
    </script>
}
